.CoinRow {
  width: 100%; /* set the width of the CoinRow div to 100% */
  background-color: #fff;
}

table {
  border-collapse: collapse; /* remove cell spacing */
  width: 100%; /* set table width to 100% */
  font-family: Arial, sans-serif; /* set font */
}

th, td {
  display: table-cell; /* Make td elements display as table cells */
  padding: 0.5em; /* add padding to cells */
  text-align: left; /* align text to the left */
  border-bottom: 1px solid #ddd; /* add a bottom border to cells */
}

.delete_btn {
  background-color: #f44336; /* set background color of button */
  color: white; /* set text color of button */
  padding: 0.5em 1em; /* add padding to button */
  border-radius: 4px; /* add border radius to button */
  border: none; /* remove border from button */
  cursor: pointer; /* change cursor to pointer when hovering over button */
}

tbody {
}