#root {
  --primaryColor : #453DE0;
}

.Login h1 {
  font-weight: 900;
}


.Login {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  gap: 1em;
}

.Login input {
  border: 1px lightgrey solid;
  border-radius: 5px;
  padding: 4px;
}

.username {
  text-align: left;
}

.password {
  text-align: left;
}

.Login button {
  font-size: 14px;
  font-weight: 500;
  background-color: #6246ea;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  width: 100px;
  cursor: pointer;
}

.Login button:hover {
  background-color: #3a34d0;
}

.login-button a:hover {
  color: #322dbd;
  text-decoration: underline;
}


