@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  --primaryColor : #453DE0;
}

.App {
  text-align: center;
}

* {
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

.LOGINH1 {
  position: absolute;
  top: 50px;
  left: 108px;
}